
.place__image{
  grid-area: image;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
@media screen and (max-width:426px){
  .place__image{
    display: block;   
    margin-bottom: 32px;
  }
}