.photo-grid__container{
  width:90.625%;
  margin: 0 auto 0;
  padding: 0;
  padding-top: 92px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit);
  gap: 14px;  
  list-style: none;
}

@media screen and (min-width:1280px){
  .photo-grid__container{
    width: 92.5%;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap:16px;

  }
}
@media screen and (max-width:768px){
  .photo-grid__container{
    width: 93.75%;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
    padding-top: 88px;
  }
}
@media screen and (max-width:425px){
  .photo-grid__container{
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
    padding-top: 64px;
  }
}