.place__list{
  width: 100%;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90.62%, 1fr));
  grid-template-rows: repeat(auto-fit);
  gap: 80px;
  padding-top: 92px;
  padding-bottom: 92px;
  max-width: 1280px;
}
@media screen and (min-width:1280px){
  .place__list{
    grid-template-columns: repeat(auto-fit, minmax(76.875%, 1fr));
  }
}
@media screen and (max-width: 768px){
  .place__list{
    row-gap: 73px;
    grid-template-columns: repeat(auto-fit, minmax(93.75%, 1fr));
    padding-top: 88px;
    padding-bottom: 90px;    
}
}
@media screen and (max-width:425px){
  .place__list{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 64px;
    padding-bottom: 66px;
  }
}