
.place__link{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(22/18);
  color: #FFF;
  z-index: 1;
  height: 22px;
}
.place__link:hover{
  opacity: .8;
}
@media screen and (max-width:426px){
  .place__link{
    display: none;
  }
}